<h1>Register</h1>
<form action="/register" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="masukkan email anda">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="masukkan password">
    <br>
    <button type="submit">REGISTER</button>



</form>